#clock-container {

    margin: auto;
    position: relative;
    background: url("./clock.gif") no-repeat;
    width: 100%;
    height: 70vw;
    
}
#hour, #min, #second {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    width: 1%;
    height: 15%;
    top: 13%;
    left: 19.5%;
    opacity: 0.8;
}

#min {
    width: 1%;
    height: 170px;
    top: 10%;
    left: 19.8%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 22%;
    top: 6%;
    left: 19.5%;
    opacity: 0.8;
}